
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bitcoin rates</title>
    <!-- build:css /assets/site.css -->
    <link rel="stylesheet" href="/assets/components/foundation/css/normalize.css" />
    <link rel="stylesheet" href="/assets/components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="/assets/components/metrics-graphics/dist/metricsgraphics.css" />
    <link rel="stylesheet" href="/assets/styles/app.css" />
    <!-- endbuild -->

    <!-- build:js /assets/app.js -->
    <script type="text/javascript" src="/assets/components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/assets/components/d3/d3.js"></script>
    <script type="text/javascript" src="/assets/components/metrics-graphics/dist/metricsgraphics.js"></script>
    <script type="text/javascript" src="/assets/components/angular/angular.js"></script>
    <script type="text/javascript" src="/assets/components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/home-controller.js"></script>
    <script type="text/javascript" src="/assets/js/transactions-controller.js"></script>
    <script type="text/javascript" src="/assets/js/unique-addresses-controller.js"></script>
    <script type="text/javascript" src="/assets/js/bitcoin-data-service.js"></script>
    <script type="text/javascript" src="/assets/js/rates-chart-directive.js"></script>
    <!-- endbuild -->
</head>
<body ng-app="bitcoinRatesApp">
    <div class="sticky">
        <nav class="top-bar" data-topbar="" role="navigation" data-options="sticky_on: large">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Bitcoin rates</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li class="divider hide-for-small"></li>
                    <li><a href="#">Sources</a></li>
                </ul>
            </section>
        </nav>
    </div>

    <div class="row">
        <div class="large-3 columns">
            <h1><img src="/assets/images/logo.jpg" /></h1>
        </div>
        <div class="large-9 columns">
        </div>
    </div>

    <div class="row">
        <div class="large-9 push-3 columns">
            @RenderBody()
        </div>

        <div class="large-3 pull-9 columns">
            <ul class="side-nav">
                <li><a href="#/">Bitcoin price vs USD</a></li>
                <li><a href="#/transactions">Bitcoin transactions</a></li>
                <li><a href="#/unique-addresses">Unique Bitcoin Addresses</a></li>
            </ul>
        </div>
    </div>

    <footer class="row">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-6 columns">
                    <p>&copy; Copyright no one at all. Go to town.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>